[(#ENV{valeur}|et{[(#EVAL{_DIR_IMG}|concat{#ENV{valeur}}|file_exists)]})
	<p>
		<a class='jpg_file' href="[(#EVAL{_DIR_IMG}|concat{#ENV{valeur}}|url_absolue)]">
			[(#EVAL{_DIR_IMG}|concat{#ENV{valeur}}|image_reduire{60,40}|inserer_attribut{alt,JPG file})]
		</a>
	</p>
]
